/* Her kommer CSS*/
@font-face {
  font-family: 'Sour Gummy';
  src: url('../assets/Sour_Gummy/SourGummy-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fascinate';
  src: url('../assets/Fascinate/Fascinate-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


*{
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}
p{
    padding: 20px;
      width: 80%;
      text-align: left;
}
:root {
  --KnappeGreen: #DEE6D6;
  --PrimePurple: #817696;
  --PrimeGreen: #8B9676;
  --BGGreen: #E3EDD9;
  --BGBaige: #F9F6EA;
  --BGPurple: #F0E9F9;
  --NormPadding: 20px;
  --MediumPaddingh: 30px;
  --BiggerPadding: 40px;

}


/* Forside -  intro */
.backgroundColorBeige {
  background: var(--BGBaige);
}

.infoSektion h1 {
  color: var(--PrimePurple);
  line-height: 2.5rem;
}

.introSektion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 40px;
}

.infoSektion p {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  line-break: 65ch;
}

.introSektion {
  padding-top: 30px;
  size: 1.5rem;
}

.Introikoner {
  display: flex;
  justify-content: left;
  padding: var(--NormPadding);
  gap: 2rem;
}

.Introikoner img {
  width: 100%;
  height: 40px;
  object-fit: contain;
}

.ProfileCard {
  margin-top: var(--NormPadding);
    background: white;
    border: 3px solid #d9d8c8;
    border-radius: 12px;
    padding: 10px;
    width: 522px;
    height: 641px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: rotate(5deg);
    text-align: center;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.CardBillede {
width: 437px;
  height: 491px;
  object-fit: cover;
  border: 10px solid white;
  margin-bottom: 10px;
}
.ProfileCard h2 {
  font-size: 1.5rem;
  margin: 0;
  color: var(--PrimePurple);
}

.ProfileCard p {
  
  font-size: 1.5rem;
  color: #666;
  margin-top: 5px;
  text-align: center;
}

/*Kompetance sektionen */

.kompetanceSektion {
  background: var(--BGPurple);
  border-top: solid 20px white;
}



.mmdIkoner,
.gdtIkoner {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.mmdIkoner img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.gdtIkoner img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/*Flip cards*/

.BackgroundColorGreen {
  background: var(--BGGreen);
  margin: var(--NormPadding);
  padding: 50px;
  padding: 40px;
  border-radius: 50px;
}
.GrønBoksOverskrift{
    margin-top: 2rem;
  font-size: 2.5rem;
  padding-bottom: var(--MediumPaddingh);
  color: var(--PrimePurple);
}
.Overskrift {
    margin-top: 2rem;
      font-size: 2.5rem;
      padding-bottom: var(--MediumPaddingh);
}
.LillaBoksOverskrift{
    margin-top: 2rem;
      font-size: 2.5rem;
      padding-bottom: var(--MediumPaddingh);
      color: var(--PrimeGreen);
      padding-top: 30px;
}

.portfolioSektion h2 {
  color: var(--PrimePurple);
}

.cardsSektion {
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  padding: var(--NormPadding);
  gap: 1rem;
}

.flip-card {
  width: 300px;
  height: 450px;
  perspective: 1000px;
  padding: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Flip-effekten på hover */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Front og bagside */
.flip-card-front,
.flip-card-bagside {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Forsiden */
.flip-card-front {
  background-color: #fff;
  color: black;
  border: solid 1px var(--BGGreen);
  margin-right: 10px;
}

.flip-card-front img {
  width: 80%;
  height: 70%;
  padding: 5px;
  object-fit: cover;
}

.flip-card-front h2 {
  color: var(--PrimePurple);
  font-size: 1.2rem;
}

.flip-card-front p {
  font-size: 1rem;
  padding: 5px;
}

/* Bagsiden */
.flip-card-bagside {
  background: white;
  display: flex;
  color: black;
  transform: rotateY(180deg);
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 5px;
  border: solid 1px var(--BGGreen);
  margin-right: 20px;
  width: 100%;
}

.SeeMere {
  gap: 10px;
}

.SeeMere p {
  font-size: 1.5rem;
  padding: var(--NormPadding);
  margin-left: 40px;
}

.pointer {
  width: 290px;
  height: 350px;

}
.star{
  margin-top: 50px;
    margin-left: 50px;
    width: 50%;
    height: 50%;
}
/*  */
/**/



/* OmMig side */
.OmMigintro {
  display: flex;
  justify-content: start;
  align-items: start;
}

.lilleBoks {
  background: var(--BGPurple);
  border-radius: 30px;
    padding: 30px;
    line-height: 2rem;
    font-size: 1.2rem;
    width: 65ch;
}
.GrønBoks {
  background: var(--BGGreen);
  border-radius: 30px;
  padding: 30px;
  line-height: 2rem;
  font-size: 1.2rem;
  width: 65ch;
}
.FremtidsSection {
  margin-top: var(--NormPadding);
}

.planerFremtid {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: var(--NormPadding);
}

.MusikMedBilleder {
  display: flex;
  align-items: center;
  margin-bottom: 300px;
  margin-top: 40px;
}

.MusikTekst {
  background: var(--BGGreen);
  padding: var(--NormPadding);
  border-radius: 30px;
  align-items: center;
  margin-bottom: var(--NormPadding);
}
.RejserMedBilleder {
  display: flex;
  align-items: center;
}

.RejseTekst {
  background: var(--BGPurple);
  padding: var(--NormPadding);
  border-radius: 30px;
  align-items: center;
  margin-bottom: var(--NormPadding);
}

.OMStjerne {
  width: 400px;
  height: 400px;
  object-fit: contain;
  padding-right: 50px;
}






/* CARD STACK */
.card-stack {
  position: relative;
  min-width: 350px;
  height: 350px;
  cursor: pointer;
  perspective: 1000px;
  margin-right: 150px;
  margin-left: var(--BiggerPadding);
  margin-top: -20px;
}

/* INDIVIDUELT CARD */
.photo-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #8B9676;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  transform: rotate(var(--rotate, 0deg)) translateY(var(--y, 0px));
  transition: all 0.5s ease;
}
.photo-card-ROM {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #8B9676;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  transform: rotate(var(--rotate, 0deg)) translateY(var(--y, 0px));
  transition: all 0.5s ease;
}

.photo-card img {
  width: 300px;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 25px;
  object-fit: cover;
}
.photo-card-ROM img {
  width: 300px;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 25px;
  object-fit: cover;
}
.musikogrejse {
  height: 300px;
  object-fit: cover;
}

.caption {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
}

.Lillecaption {
  font-size: 20px;
  text-align: center;
  color: rgb(171, 171, 171);
  padding-bottom: 10px;
}

/* ---------- LAGVIS STACK ---------- */
.card-stack .photo-card:nth-child(1) {
  --rotate: 2deg;
  --y: 0px;
  z-index: 4;
}

.card-stack .photo-card:nth-child(2) {
  --rotate: -3deg;
  --y: 15px;
  z-index: 3;
}

.card-stack .photo-card:nth-child(3) {
  --rotate: 4deg;
  --y: 30px;
  z-index: 2;
}

.card-stack .photo-card:nth-child(4) {
  --rotate: -2deg;
  --y: 45px;
  z-index: 1;
}

/* Animation når et kort går bagest */
.photo-card.moving {
  transform: translateY(80px) rotate(10deg);
  opacity: 0;
}

/*  */
/* Portfolio tabs*/

/* ---- Tabs ---- */
.tab-container {
  margin-top: 25px;
  margin-left: 20px;
}

.tab-button {
  margin: 0.5rem;
  margin-bottom: 0rem;
  background-color: var(--BGGreen);
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: inset 0 -2px 0 transparent;
  transition: 0.3s;
}

.tab-button.active {
  background-color: var(--BGPurple);
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid transparent;
}

/* ---- Content ---- */

.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.tab-content {
  display: block;
  padding: 40px;
  background-color: var(--BGPurple);
  min-height: 400px;
}
.tab-content h2{
  color: #817696;
}
.tab-content.active {
  display: block;
}

/* ---- Cards grid ---- */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 60px;
  justify-items: center;

}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 330px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 80%;
  height: 60%;
  object-fit: cover;
  padding-top: 20px;
}

.card p {
  margin: 10px;
  font-size: 16px;
}


.portfolioSide {
  margin-top: var(--NormPadding);
  display: flex;
  justify-content: space-evenly;
}



.enklOpgave{
  display: flex;
  margin: 20px;
}
